---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.desc_title }}</h1>
    <h3 class="post-description">{{ page.description }}</h3>
    <h3 class="post-description">
      <strong>CVPR 2025 Workshop <br> Morning, Jun 12 <br> Nashville, United States<br> Music City Center - Room 106B <br>
        <!-- <iframe width="720" height="480"
          src="https://www.youtube.com/embed/uWiVeJQrGWI">
        </iframe> -->
      </strong>
    </h3>
  </header>

  <article class="post-content {{page.title}} clearfix">
    {{ content }}
  </article>

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>
